@font-face {
    font-family: Rowdies-Regular;
    src: url(../fonts/Rowdies/Rowdies-Regular.ttf);
}

@font-face {
    font-family: Rowdies-Light;
    src: url(../fonts/Rowdies/Rowdies-Light.ttf);
}

@font-face {
    font-family: Rowdies-Bold;
    src: url(../fonts/Rowdies/Rowdies-Bold.ttf);
}